<!DOCTYPE html>
<html>

<head>
    <title>Race Control</title>
    <link rel="stylesheet" href="admin/styles.css">
    <link rel="stylesheet" href="utils.css">
</head>

<body>
    <h1 id="title">Race Control</h1>
    <div id="queue-list">
    </div>
    <% for(var i=0; i<cars.length; i++) {%>
        <img class="car-stream" src="/stream<%=i%>" />
     <% } %>
     <input id="broadcast-input" type="text" placeholder="Broadcast message"/>
     <button onclick="broadcastMessage()">Broadcast Message</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="admin/admin.js"></script>
</body>

</html>