<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="utils.css">
    </head>
    <body>
        <div id="wrapper">
            <h1 id="title">Online RC Car Racing!</h1>
            <h2>This is where broadcast messages go</h2>
            <button id="join-button" class="slow-transition">
                <p>Join the Queue!</p>
            </button>
            <h2>There are <span>0</span> people in the queue</h2>
        </div>
    </body>
</html>