html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--background);
}

#title {
    font-family: 'Montserrat';
    color: var(--primary1);
    margin-left: -15px;
    margin-top: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    /*a name to be used later*/
}

#wrapper {
    border-radius: 5px;
    width: 85%;
    padding: 10px 50px;
    margin: 10px auto;
    background-color: var(--accent1);
}

#join-button {
    display: block;
    margin: auto;
    border: white solid 2px;
    background-color: var(--accent2);
    border-radius: 5px;
}

#join-button:hover {
    border-color: var(--primary1);
    cursor: pointer;
}

#socials-wrapper {
    top: 15px;
    left: 7.5%;
    /* half of width percentage on each side */
    right: 7.5%;
    display: block;
    position: absolute;
    text-align: right;
}

#socials-wrapper svg:hover {
    cursor: pointer;
}

#socials-wrapper a {
    display: inline-block;
}

#twitter-button:hover {
    fill: #1DA1F2
}

#youtube-button:hover {
    fill: #C4302B
}

#github-button:hover {
    fill: #F0F6FC;
}

@media screen and (max-width: 800px) {
    #wrapper {
        text-align: center;
        width: 60%;
    }

    #socials-wrapper {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: relative;
        text-align: center;
    }
}