<html>
  <head>
    <title>Go Racing!</title> 
    <link rel="stylesheet" href="play.css">
  </head>
  <body>
    <img id="video-stream" src="/stream<%=carId%>">
    <script src="/socket.io/socket.io.js"></script>
    <script src="play.js"></script>
  </body>
</html>