:root {
    --primary1: #E45826;
    --background: #1B1A17;
    --accent1: #E6D5B8;
    --accent2: #F0A500;
}


@font-face {
    font-family: 'Montserrat'; /*a name to be used later*/
    src: url('Montserrat-Black.ttf'); /*URL to font*/
}

.slow-transition {
    transition: 200ms;
}

.fast-transition {
    transition: 50ms;
}

.outer {
    max-width: 500px;
    font-family: Montserrat;
    line-height: 26px;
}
.faq-content {
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 20px;
}
summary {
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    outline: none;
    font-style: italic;
}

summary p {
    display: inline
}

details[open] summary ~ * {
    animation: smooth 0.4s ease-in-out;
}
@keyframes smooth {
    0% {
        opacity: 0;
        margin-top: -10px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}
details > summary::after {
    position: absolute;
    right: 25px;
}
details[open] > summary::after {
    position: absolute;
    right: 25px;
}